@media (max-width: 1199px)
  .container
    max-width: 92%
  .slider
    margin-right: 30px
    max-width: 728px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
@media (max-width: 991px)
  .container
    max-width: 91.1%
  .logo
    width: 133px
  .navbar
    &-top
      padding-top: 31px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 19px
      padding-bottom: 22px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-left: 47px
    &__input
      width: 340px
  .hotel
    padding-top: 18px
    padding-bottom: 70px
    &-info
      &__name
        margin-top: 0px
    &-grid
      flex-direction: column  
    &__slider
      margin: auto
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 49%
    height: 210px
    margin-right: 20px
    padding-top: 25px
    padding-right: 23px
    padding-bottom: 38px
    padding-left: 23px
  .map
    width: 49%
    height: 210px
  .slider
    width: 100%  
    &-info
      &__name
        margin: 0
      &__rating
        // padding: 0
@media (max-width: 767px)
  .container
    max-width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: 23%
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
 
@media (max-width: 575px)
  .container
    max-width: 92%
  .navbar
    &-top
      padding-top: 24px
  .logo
    width: 99px
  .slider
    height: 250px
  
@media (max-width: 320px)
  .container
    max-width: 87%  
  .hotel
    &__slider
      width: 278px
      height: 179px
      margin-top: 18px
      margin-bottom: 0
  .booking
    width: 279px
    height: 210px
    margin: auto
    margin-bottom: 0
  .map
    margin: auto
    width: 280px
    height: 172px



