@media (max-width: 1199px)
  .container
    max-width: 92%
  .hotel
    &-slider
      margin-right: 30px
      max-width: 728px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-wrapper
      // flex-wrap: wrap
      justify-content: space-between
      column-gap: 1vw
    &__card  
      width: 22vw
      height: 22vw
  // .footer
  //   &__input
  //     flex-basis: 100%

@media (max-width: 1050px)
  .packages
    margin-bottom: 35px
    &-title
      margin-bottom: 35px       
    &-grid
      justify-content: center
      grid-template-columns: repeat( 2, minmax(280px, 350px))
      grid-template-rows: repeat( 3, minmax(400px, 500px))
      gap: 30px

  .activities
  padding-top: 40px
  padding-bottom: 60px
  &-wrapper
    flex-wrap: wrap
    justify-content: space-evenly
  &__card  
    margin-bottom: 20px
    width: 44vw
    height: 33vw
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 991px)
  .container, 
  .newsletter-wrapper
    max-width: 91.1%
  .logo
    width: 133px
  .navbar
    &-top
      padding-top: 31px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 19px
      padding-bottom: 22px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-left: 47px
    &__input
      width: 340px
  .hotel
    padding-top: 18px
    padding-bottom: 60px
    &-slider
      width: 100%
    &-info
      &__name
        margin-top: 0px
    &-grid
      flex-direction: column  
    &__slider
      margin: auto
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 49%
    height: 210px
    margin-right: 20px
    padding-top: 25px
    padding-right: 23px
    padding-bottom: 38px
    padding-left: 23px
  .map
    width: 49%
    height: 210px
  .newsletter
    padding-top: 71px
  .packages
    &-title
      font-size: 30px
      line-height: 38px 
  .reviews
    padding: 40px 0 60px 0
    &-slider
      &__item
        max-width: 580px
        &:before, &::after
          display: none
      &__button
        top: 50%
        transform: translateY(-50%)
        background-size: 30px
        &--prev
          left: 1px
        &--next        
          right: 1px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-top: 50px
    padding-bottom: 51px
    &-wrapper
      flex-wrap: wrap
      justify-content: space-evenly
      column-gap: 20px
    &__card
      margin-bottom: 20px
    .card
      width: 339px
      height: 255px
     
  // &-grid
  //   grid-template-columns: repeat( 2, minmax(280px, 350px))
  //   grid-template-rows: repeat( 3, minmax(400px, 500px))
  //   gap: 30px
  .footer
    padding-top: 38px
    &-wrapper
      padding-top: 0px
      // grid-template-columns: 1fr 10px 1fr 10px 1fr 10px
      // grid-template-columns: repeat (6, 1fr)
      // grid-template-columns: repeat (6, min-content)
      grid-template-columns: repeat (6, minmax(min-content, 1fr))
      // gap: 5px
      // grid-row-gap: 1px
      // grid-column-gap: 10px
    &__title
      margin: 3px 0 19px 0
      font-size: 18px
      line-height: 22,59px
    &__input
      flex-basis: 49%
    &__logo
      margin-top: 35px
      width: 104px
      height: 110px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        display: flex
        align-items: start
        justify-content: space-around
        grid-row: 1 / 2
        grid-column-start: span 4        
        align-self: center
        &-links
          display: flex      
          align-items: center
          justify-content: space-between
          min-width: 83px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4

@media (max-width: 767px)
  .container
    max-width: 92%
  body
    padding-top: 95px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 2
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      top: 70px
      right: 0
      bottom: 0
      left: 0
      padding-top: 10px 
      &--visible
        display: block
    &-menu
      flex-direction: column
      padding-top: 22px
      &__item
        margin-bottom: 17px
        &--mobile
          &--visible
            display: block
  .search
    margin-left: 0
    margin-bottom: 19px
    width: 245px
      
      // display: block
      // margin: auto
      // align-self: center
      // justify-content: center
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-top: 10px
        margin-bottom: 9px
        margin-left: 0
  .stars
    flex-basis: 23%
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-wrapper
      max-width: 92%
      // flex-direction: column
      // align-items: start
    &-title    
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 280px
  .reviews
    padding: 40px 0 50px 0
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 29px
        &--prev
          margin-left: -70px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -70px
          right: 50%
          transform: translate(50%, 0)
    &__title
      padding: 0 38px
      font-size: 18px
      line-height: 22px
      margin-bottom: 42px
  .activities
    padding-top: 30px
    &__title
      margin-bottom: 38px      
      font-size: 18px
      line-height: 22px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 650px)
  .packages
    margin-bottom: 70px
    &-title
      font-size: 18px
      line-height: 23px
    &-card
      &:nth-child(1)
        grid-template-columns: none
        grid-template-rows: 1fr 1fr
        grid-column-start: span 1        
        & .packages             
            &-star, &-text
              display: none
            &-info
              padding: 30px 21px 25px 32px
            &__image
              // display: none
              // width: 100%
              max-height: 250px
              // max-height: 120px
            &-card
              &__offer                
                padding: 4px 9px
                width: 60px
                min-height: 18px
                top: 26px
                left: 0              
                font-size: 8px
                line-height: 10px      

@media (max-width: 600px)  
  .packages      
    &-grid      
      grid-template-columns: 85vw
      gap: 20px
    &-info
      // display: none
      // padding-left: 50px
      // padding-right: 50px
      
      // display: flex
      // flex-direction: row
      // justify-content: space-around
      // align-items: center
      // justify-content: center
      // padding-left: 50px
    // &-card
    //   &:nth-child(5)
    //     & .packages            
    //         &-card
    //           &-info
    //             display: none
    //             padding: 10vw                

@media (max-width: 575px)
  .container
    max-width: 92%
  .navbar
    &-top
      padding-top: 24px
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
  .newsletter
    height: 319px
    padding: 65px 0 83px 7px
    &-wrapper
      flex-direction: column
      align-items: start
  .activities
    &__card:nth-child(2)
      order: 1
    &__card:nth-child(4)
      order: 2
  .card
    margin-bottom: 23px
    width: 80vw
    height: 60vw
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
  
@media (max-width: 400px)  
  .card    
    width: 280px
    height: 255px
@media (max-width: 320px)
  .container
    max-width: 87.5%  
  .hotel
    padding-bottom: 15px
    &-info
      padding-bottom: 19px
    &__slider
      width: 278px
      height: 179px
      margin-top: 18px
      margin-bottom: -4px
    &-slider
      &__button
        width: 11px
        height: 11px
        background-size: 5px
        &--next
          right: 5px
        &--prev
          left: 3px
  .booking
    width: 279px
    height: 210px
    margin: auto
    margin-bottom: 3px
  .map
    margin: auto
    width: 280px
    height: 172px
  .newsletter
    &-title
      &__strong
        margin-top: 4px
        margin-bottom: 37px
    &__title
      margin-top: 13px
      margin-bottom: 0px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &__title
      margin-bottom: 44px
    &-slider      
      &__button        
        &--prev
          top: 32px
          left: 116px
        &--next
          top: 32px
          right: 120px  