@media (max-width: 1199px)
  .container
    max-width: 92%
  .hotel
    &-slider
      margin-right: 30px
      max-width: 728px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 21vw
    height: 21vw
@media (max-width: 991px)
  .container, 
  .newsletter-wrapper
    max-width: 91.1%
  .logo
    width: 133px
  .navbar
    &-top
      padding-top: 31px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 19px
      padding-bottom: 22px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-left: 47px
    &__input
      width: 340px
  .hotel
    padding-top: 18px
    padding-bottom: 60px
    &-slider
      width: 100%
    &-info
      &__name
        margin-top: 0px
    &-grid
      flex-direction: column  
    &__slider
      margin: auto
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 49%
    height: 210px
    margin-right: 20px
    padding-top: 25px
    padding-right: 23px
    padding-bottom: 38px
    padding-left: 23px
  .map
    width: 49%
    height: 210px
  .newsletter
    padding-top: 71px
  .reviews
    padding: 40px 0 60px 0
    &-slider
      &__item
        max-width: 580px
      &__button
        top: 50%
        transform: translateY(-50%)
        background-size: 30px
        &--prev
          left: 1px
        &--next        
          right: 1px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-wrapper
      flex-wrap: wrap
      justify-content: space-evenly
      column-gap: 20px
    &__card
      margin-bottom: 20px
    .card
      width: 339px
      height: 255px
@media (max-width: 767px)
  .container
    max-width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: 23%
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-wrapper
      max-width: 92%
      // flex-direction: column
      // align-items: start
    &-title    
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 280px
  .reviews
    padding: 40px 0 50px 0
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 29px
        &--prev
          margin-left: -70px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -70px
          right: 50%
          transform: translate(50%, 0)
    &__title
      padding: 0 38px
      font-size: 18px
      line-height: 22px
      margin-bottom: 42px
  .activities
    padding-top: 30px
    &__title
      margin-bottom: 38px      
      font-size: 18px
      line-height: 22px
@media (max-width: 575px)
  .container
    max-width: 92%
  .navbar
    &-top
      padding-top: 24px
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
  .newsletter
    height: 319px
    padding: 65px 0 83px 7px
    &-wrapper
      flex-direction: column
      align-items: start      
  .card
    margin-bottom: 23px
    width: 88vw
    height: 255px
@media (max-width: 320px)
  .container
    max-width: 87%  
  .hotel
    padding-bottom: 15px
    &__slider
      width: 278px
      height: 179px
      margin-top: 18px
      margin-bottom: -4px
    &-slider
      &__button
        width: 18px
        height: 18px
        background-size: 7px
        &--next
          right: 7px
        &--prev
          left: 7px
  .booking
    width: 279px
    height: 210px
    margin: auto
    margin-bottom: 3px
  .map
    margin: auto
    width: 280px
    height: 172px
  .reviews
    &-slider      
      &__button        
        &--prev
          top: 32px
          left: 116px
        &--next
          top: 32px
          right: 120px